In [1]:
import pandas as pd
import json

In [2]:
# Open the file with 'utf-8-sig' encoding to handle BOM characters
with open("world.json", "r", encoding="utf-8-sig") as file:
    raw_content = file.read()  # Read the raw content
    #print(f"Raw content: {raw_content}")  # This should no longer include the BOM

try:
    content = json.loads(raw_content)

    # Normalize the JSON structure and create a DataFrame
    df = pd.json_normalize(content['features'])  # Adjust based on the JSON structure
    df.head()
except json.JSONDecodeError as e:
    print(f"JSON Decode Error: {e}")

In [3]:
df

,type,properties.FIPS,properties.ISO2,properties.ISO3,properties.UN,properties.NAME,properties.AREA,properties.POP2005,properties.REGION,properties.SUBREGION,properties.LON,properties.LAT,geometry.type,geometry.coordinates
0,Feature,AC,AG,ATG,28,Antigua and Barbuda,44,83039,19,29,-61.783,17.078,MultiPolygon,"[[[[-61.686668, 17.024441000000134], [-61.7380..."
1,Feature,AG,DZ,DZA,12,Algeria,238174,32854159,2,15,2.632,28.163,Polygon,"[[[2.96361, 36.802216], [3.031389, 36.806389],..."
2,Feature,AJ,AZ,AZE,31,Azerbaijan,8260,8352021,142,145,47.395,40.430,MultiPolygon,"[[[[45.083321, 39.768044000000145], [45.326096..."
3,Feature,AL,AL,ALB,8,Albania,2740,3153731,150,39,20.068,41.143,Polygon,"[[[19.436214, 41.021065], [19.513885, 41.25610..."
4,Feature,AM,AM,ARM,51,Armenia,2820,3017661,142,145,44.563,40.534,MultiPolygon,"[[[[45.573051000000135, 40.632488], [45.528881..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,Feature,TB,BL,BLM,652,Saint Barthelemy,0,0,19,29,-63.043,18.040,Polygon,"[[[-63.02834, 18.01555], [-63.07917, 18.02666]..."
242,Feature,GK,GG,GGY,831,Guernsey,0,0,150,154,-2.576,49.459,Polygon,"[[[-2.59083, 49.422493], [-2.670278, 49.434166..."
243,Feature,JE,JE,JEY,832,Jersey,0,0,150,154,-2.129,49.219,Polygon,"[[[-2.015, 49.214165], [-2.02111, 49.177216000..."
244,Feature,SX,GS,SGS,239,South Georgia South Sandwich Islands,0,0,0,0,-36.891,-54.209,MultiPolygon,"[[[[-27.32584, -59.427223], [-27.298058, -59.4..."
245,Feature,TW,TW,TWN,158,Taiwan,0,0,0,0,120.946,23.754,MultiPolygon,"[[[[121.576393, 22.00139], [121.505257, 22.034..."

In [4]:
df["properties.NAME"].unique().tolist()

['Antigua and Barbuda',
 'Algeria',
 'Azerbaijan',
 'Albania',
 'Armenia',
 'Angola',
 'American Samoa',
 'Argentina',
 'Australia',
 'Bahrain',
 'Barbados',
 'Bermuda',
 'Bahamas',
 'Bangladesh',
 'Belize',
 'Bosnia and Herzegovina',
 'Bolivia',
 'Burma',
 'Benin',
 'Solomon Islands',
 'Brazil',
 'Bulgaria',
 'Brunei Darussalam',
 'Canada',
 'Cambodia',
 'Sri Lanka',
 'Congo',
 'Democratic Republic of the Congo',
 'Burundi',
 'China',
 'Afghanistan',
 'Bhutan',
 'Chile',
 'Cayman Islands',
 'Cameroon',
 'Chad',
 'Comoros',
 'Colombia',
 'Costa Rica',
 'Central African Republic',
 'Cuba',
 'Cape Verde',
 'Cook Islands',
 'Cyprus',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'Ireland',
 'Equatorial Guinea',
 'Estonia',
 'Eritrea',
 'El Salvador',
 'Ethiopia',
 'Austria',
 'Czech Republic',
 'French Guiana',
 'Finland',
 'Fiji',
 'Falkland Islands (Malvinas)',
 'Micronesia, Federated States of',
 'French Polynesia',
 'France',
 'Gambia',
 'Gabon',
 'Georgia',
 'Ghana',
 'Grenada',
 'Greenland',
 'Germany',
 'Guam',
 'Greece',
 'Guatemala',
 'Guinea',
 'Guyana',
 'Haiti',
 'Honduras',
 'Croatia',
 'Hungary',
 'Iceland',
 'India',
 'Iran (Islamic Republic of)',
 'Israel',
 'Italy',
 "Cote d'Ivoire",
 'Iraq',
 'Japan',
 'Jamaica',
 'Jordan',
 'Kenya',
 'Kyrgyzstan',
 "Korea, Democratic People's Republic of",
 'Kiribati',
 'Korea, Republic of',
 'Kuwait',
 'Kazakhstan',
 "Lao People's Democratic Republic",
 'Lebanon',
 'Latvia',
 'Belarus',
 'Lithuania',
 'Liberia',
 'Slovakia',
 'Liechtenstein',
 'Libyan Arab Jamahiriya',
 'Madagascar',
 'Martinique',
 'Mongolia',
 'Montserrat',
 'The former Yugoslav Republic of Macedonia',
 'Mali',
 'Morocco',
 'Mauritius',
 'Mauritania',
 'Malta',
 'Oman',
 'Maldives',
 'Mexico',
 'Malaysia',
 'Mozambique',
 'Malawi',
 'New Caledonia',
 'Niue',
 'Niger',
 'Aruba',
 'Anguilla',
 'Belgium',
 'Hong Kong',
 'Northern Mariana Islands',
 'Faroe Islands',
 'Andorra',
 'Gibraltar',
 'Isle of Man',
 'Luxembourg',
 'Macau',
 'Monaco',
 'Palestine',
 'Montenegro',
 'Mayotte',
 '�land Islands',
 'Norfolk Island',
 'Cocos (Keeling) Islands',
 'Antarctica',
 'Bouvet Island',
 'French Southern and Antarctic Lands',
 'Heard Island and McDonald Islands',
 'British Indian Ocean Territory',
 'Christmas Island',
 'United States Minor Outlying Islands',
 'Vanuatu',
 'Nigeria',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'Suriname',
 'Nicaragua',
 'New Zealand',
 'Paraguay',
 'Peru',
 'Pakistan',
 'Poland',
 'Panama',
 'Portugal',
 'Papua New Guinea',
 'Guinea-Bissau',
 'Qatar',
 'Reunion',
 'Romania',
 'Republic of Moldova',
 'Philippines',
 'Puerto Rico',
 'Russia',
 'Rwanda',
 'Saudi Arabia',
 'Saint Kitts and Nevis',
 'Seychelles',
 'South Africa',
 'Lesotho',
 'Botswana',
 'Senegal',
 'Slovenia',
 'Sierra Leone',
 'Singapore',
 'Somalia',
 'Spain',
 'Saint Lucia',
 'Sudan',
 'Sweden',
 'Syrian Arab Republic',
 'Switzerland',
 'Trinidad and Tobago',
 'Thailand',
 'Tajikistan',
 'Tokelau',
 'Tonga',
 'Togo',
 'Sao Tome and Principe',
 'Tunisia',
 'Turkey',
 'Tuvalu',
 'Turkmenistan',
 'United Republic of Tanzania',
 'Uganda',
 'United Kingdom',
 'Ukraine',
 'United States',
 'Burkina Faso',
 'Uruguay',
 'Uzbekistan',
 'Saint Vincent and the Grenadines',
 'Venezuela',
 'British Virgin Islands',
 'Viet Nam',
 'United States Virgin Islands',
 'Namibia',
 'Wallis and Futuna Islands',
 'Samoa',
 'Swaziland',
 'Yemen',
 'Zambia',
 'Zimbabwe',
 'Indonesia',
 'Guadeloupe',
 'Netherlands Antilles',
 'United Arab Emirates',
 'Timor-Leste',
 'Pitcairn Islands',
 'Palau',
 'Marshall Islands',
 'Saint Pierre and Miquelon',
 'Saint Helena',
 'San Marino',
 'Turks and Caicos Islands',
 'Western Sahara',
 'Serbia',
 'Holy See (Vatican City)',
 'Svalbard',
 'Saint Martin',
 'Saint Barthelemy',
 'Guernsey',
 'Jersey',
 'South Georgia South Sandwich Islands',
 'Taiwan']

In [5]:
df["properties.NAME"].nunique()

246

In [9]:
df["properties.POP2005"].unique()

array([     83039,   32854159,    8352021,    3153731,    3017661,
         16095214,      64051,   38747148,   20310208,     724788,
           291933,      64174,     323295,   15328112,     275546,
          3915238,    9182015,   47967266,    8490301,     472419,
        186830759,    7744591,     373831,   32270507,   13955507,
         19120763,    3609851,   58740547,    7858791, 1312978855,
         25067407,     637013,   16295102,      45591,   17795149,
         10145609,     797902,    4494579,    4327228,    4191429,
         11259905,     506807,      13984,     836321,    5416945,
           804206,      67827,    9469601,   13060993,   72849793,
          4143294,     484098,    1344312,    4526722,    6668356,
         78985857,    8291979,   10191762,     192099,    5246004,
           828046,       2975,     110058,     255632,   60990544,
          1617029,    1290693,    4473409,    2253501,     105237,
            57475,   82652369,      16857,   11099737,   12709564,
          9002656,     739472,    9296291,     683411,     455149,
         10086387,     295732, 1134403141,   69420607,    6692037,
         58646360,   18584701,   27995984,  127896740,    2682469,
          5544066,   35598952,    5203547,   23615611,      92003,
         47869837,       2700,   15210609,     566391,     401074,
          2301793,    9795287,    3425077,    3441796,    5386995,
            34598,    5918217,   18642586,     395896,    2580704,
             5628,    2033655,    1161109,   30494991,    1241173,
          2963105,     402617,    2507042,     295297,  104266392,
         25652985,   20532675,   13226091,     234185,       1632,
          1326419,     102897,      12256,   10398049,    7057418,
            80258,      48205,      73483,        291,      78357,
           456613,      47309,        325,    3762005,     607969,
                0,     215366,  141356083,    1632769,    4638836,
         27093656,      10111,     452468,    5462539,    4097112,
          5904342,   27274266,  158080591,   38195558,    3231502,
         10528226,    6069715,    1596929,     796186,     785159,
         21627557,    3876661,   84566163,    3946779,  143953092,
          9233793,    2361236,      49138,      85532,   47938663,
          1980831,    1835938,    1177034,    1999425,    5586403,
          4327468,    8196395,   43397491,      16124,   36899747,
          9038049,   18893881,    7424389,    1323722,   63002911,
          6550213,       1401,      99361,    6238572,     152622,
         10104685,   72969723,      10441,    4833266,   38477873,
         28947181,   60244834,   46917544,  299846449,   13933363,
          3325727,   26593123,     119137,   26725573,      22016,
         85028643,     111408,    2019677,      15079,     183845,
          1124529,   21095679,   11478317,   13119679,  226063044,
           438403,     186392,    4104291,    1067285,          5,
            20127,       5672,       6346,       6399,      30214,
            24459,     440428,    9863026,        783])